body {
    background: #3b3838;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.calc {
    display: block;
    width: 70%;
    margin: 10% auto;
    border: 3px solid #85837e;
    text-align: center;
}

.calc-display {
    padding: 1rem 0.5rem 0 0;
    text-align: right;
    font-size: 3rem;
    background-color: #85837e;
}

.acc-input,
.cur-input {
    margin: 0;
}

.acc-input {
    text-align: left;
    font-size: 2rem;
    padding-left: 1rem;
}

.cur-input {
    padding-bottom: 0.5rem;
    text-align: right; 
    font-size: inherit;
    border: none;
    background-color: inherit;
}

.calc-controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: auto;
}

button {
    display: block;
    background-color: #e2e2e2;
    border: none;
    font-size: 2rem;
    height: 5rem;
    width: 25%;
}

button:hover {
    background: #cecece;
    transition: 50ms;
}

button:focus {
    outline-color: #818181;
}

#backsp-sq {
    display: inline-block;
    background: #000;
    margin: 0 auto;
    width: 1.75rem;
    height: 1.5rem;
}

#backsp-tri {
        display: inline-block;
        border-color: transparent #000;
        border-style: solid;
        border-width: 0.75rem 0.75rem 0.75rem 0px;
        height: 0px;
        width: 0px;
}